.app-download {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .app-download p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .app-download-platforms {
    display: flex;
    justify-content: center;
  }
  
  .app-download-platforms img {
    width: 150px;
    margin: 0 10px;
  }